// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #1793d1;
$secondary: #C6C4C4;
$info: #050593;
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/_navbar";
@import "../node_modules/bootstrap/scss/_dropdown";

// Then add additional custom code here
.carousel-item{
    background: #000;
    justify-content: center; 
   }
   .carousel-inner img {
    display: block;
    margin: auto;
    min-height: 220px;
    max-height: 220px;
    width: auto; 
  }
  .embed-responsive {
    margin-bottom: 20px;
  
    
  }
  
  .video-container {
    
    height: 74%;
    width: 63%;
     /* Set the desired height here */
    padding-top: 14%;
    padding-left: 1%;
    padding-right: auto;
    justify-content: center;
    overflow: hidden;
  }
  
  .video-container iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card{
    width: 300px;
  }
  
  .filterspacing{
    margin-right: 5px;
  }
  
  .card-img-top{
  
    width: 100%;
    height: 250px;
    object-fit: cover; 
    border-radius: 2px;
  }
  
  #card2{
    width: 100%;
  }
  
  #characteristics{height: 100px}
  
  #story{height: 300px}
  
  #arch{
    color:#0CE5F8;
    font-size: 14px;
  }
  
  @media screen and (max-width: 810px){
    #arch{
      color:#0CE5F8;
      font-size: 6px;
      padding-top: 50%;
      // line-height: 1px;
    }
    #retro1{
      font-family: "slkcrb", sans-serif;
      font-size: 13px;
      padding-top: 50%;
    }
    #retro2{
      font-family: "slkcrb", sans-serif;
      letter-spacing: -1px;
      font-size: 13px;
      padding-left: 25%;
    }

    #retroj1{
      font-family: "jp", "cn";
      font-size: 13px;
      padding-top: 50%;
    }
    #retroj2{
      font-family: "jp", "cn";
      letter-spacing: -1px;
      font-size: 13px;
      padding-left: 25%;
    }
    #retroc1{
      font-family: "cn", sans-serif;
      font-size: 13px;
      padding-top: 50%;
    }
    #retroc2{
      font-family: "cn", sans-serif;
      letter-spacing: -1px;
      font-size: 13px;
      padding-left: 25%;
    }
  }

  @font-face {
    font-family:"slkcrb";
    src: url("../silkscreen/slkscre.ttf") format("truetype");
  }

  @font-face {
    font-family:"jp";
    src: url("../NineteenNinetyThree-L1Ay.ttf") format("truetype");
  }

  @font-face {
    font-family:"cn";
    src: url("../Unifontexmono-AL3RA.ttf") format("truetype");
  }

  #retro{
    font-family: "slkcrb", sans-serif;
    letter-spacing: -1px;
  }

  #retroj{
    font-family: "jp", "cn";
    letter-spacing: -1px;
  }
  #retroc{
    font-family: "cn", sans-serif;
    letter-spacing: -1px;
  }
  @media screen and (min-width: 1900px){
    .video-container {
    
      height: 95%;
      width: 63%;
       /* Set the desired height here */
      padding-top: 15%;
      padding-left: auto;
      padding-right: auto;
      justify-content: center;
      overflow: hidden;
    }
  }
  @media screen and (min-width: 811px) {
    #retro1 {
      font-family: "slkcrb", sans-serif;
      letter-spacing: -1px;
      padding-top: 15%; /* For screens > 810px */
    }
    #retro2{
      font-family: "slkcrb", sans-serif;
      letter-spacing: -1px;
      padding-left: 160px;
    }
    #retroj1 {
      font-family: "jp", "cn";
      letter-spacing: -1px;
      padding-top: 15%; /* For screens > 810px */
    }
    #retroj2{
      font-family: "jp", "cn";
      letter-spacing: -1px;
      padding-left: 100px;
    }
    #retroc1 {
      font-family: "cn", sans-serif;
      letter-spacing: -1px;
      padding-top: 15%; /* For screens > 810px */
    }
    #retroc2{
      font-family: "cn", sans-serif;
      letter-spacing: -1px;
      padding-left: 100px;
    }
  }
  


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center-image-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 150px;
}

.cursor {
  position: relative;
}
.cursor i {
  position: absolute;
  width: 10px;
  height: 80%;
  background-color: white;
  right: 10%;
  top: 10%;
  animation-name: blink;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}


.exp-bar {
  width: 300px;
  height: 20px;
  background-color: #ccc;
  border: 2px solid #333;
  margin: 20px;
}

#exp-progress {
  width: 10%;
  height: 100%;
  background-color: #00cc00;
  transition: width 0.5s;
}

.custom-toggler-button {
  background-image: url('/img/btn_menu_bg.png'); /* Replace 'path/to/your-image.png' with the actual path to your image */
  background-size: 100% 100%; 
  
  border: none; /* Remove any border if present */
}

.back-to-top-button {
  // background-image: url('/img/btn_menu_bg.png');
  position: fixed;
  right: 0.42rem;
  bottom: 1rem;
  z-index: 1030;
  // opacity: 0.7;
}